.contenedorLista {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
    column-gap: 20px;
}

.contenedorCard {
    list-style-type: none;
}



.card {
    height: 55vh;
    width: 400px;
    border: 1px solid black;
    border-radius: 15px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    

}

.headerCard {
    width: 100%;
    height:220px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.cardimg {
    width: 70%;
    height: auto;
}

.descripcion {
    text-align: center;
    width: 100%;
    height: 30px;
    font-size: 13px;
}

.verMas, .irAlCarrito {
    height: 50px;
    width: 200px;
    background-color:#81AC49 ;
    border: none;
    border-radius: 5px;
    font-family: 'Jura', sans-serif;
    font-size: 16px;
    color:white;
    cursor:pointer;
    transition: all .2s linear;   

}

.verMas:hover {
background-color: green;
 
}