nav {
    background-color: #363734;
    height: 11vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.contenedor {  
    display: flex;
    flex-direction: row;
    align-items: center;
}

h1 {
    width: 110px;
    color: white;
    font-family: 'Jura', sans-serif;
}

.logo {
    width: 95px;
    height: 95px;
    
}

.listaMenu {
            width: 500px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
           
            
}

.listaMenu li {
        color:white;
        list-style-type: none;
        padding: 10px;
}

.listaMenu li:hover {
    animation: hover 0.3s;
    animation-fill-mode: forwards;
    cursor: pointer;
}

@keyframes hover {
    0% {transform: translateY(0);
        font-weight: 600
    }
    100% {
        transform: translateY(-2.5px);
        font-weight: 600;
    }
}

.MuiInput-root {
        width:270px ;
        height: 40px;
        background-color: white;
        border-radius: 20px;
        padding-left: 20px;
       

}




.buscador {
    position:relative;
    display: flex;
    align-items: center;
}
.lupa, .carrito {
    color:#81AC49;
    cursor: pointer;
}

.lupa {
    position:absolute;
    right: 4px;
;
}